<div class="section" id="projects">
  <div class="container py-2 cc-experience">
      <div class="h4 text-center mb-4 title">Projects</div>
              <div class="row">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-badge up bg-green">
                              <i class="fa fa-thumbs-up"></i>
                          </div>
                          <div class="timeline-panel">
                              <div class="row">
                                  <div class="col-lg-6 ">
                                      <div class="h5 mt-0 title">Prediction of Stocks using Tweets Sentiments </div>

                                      <p align="justify">The project aims to check if there exist a Correlation between Tweets Sentiments and Stock price of the
                                        company. Tweet’s sentiments are divided into positive, negative and neutral classes.</p>
                                      <p align="justify">Stock price prediction is done using these sentiments and past data by LSTM, Ensemble methods, SVM, KNN.</p>
                                      <p align="justify">A case study is done to predict Stock prices of Bank of Central Asia and Bank of Mandiri in Covid period.
                                      </p>
                                  </div>
                                  <div class="col-lg-6">
                                      <ul>
                                        <a href="https://github.com/Namanvijay/Effect-of-Tweets-Sentiments-on-Stock-price" class="btn btn-primary stretched-link">GithubLink</a>
                                        <hr>

                                          <li class="list">Technology and Models used</li>
                                          <ul>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <li class="non_list">Python</li>
                                                      <li class="non_list">Keras</li>
                                                      <li class="non_list">Tensorflow</li>
                                                      <li class="non_list">LSTM</li>
                                                      <li class="non_list">Ensemble Methods</li>
                                                  </div>

                                              </div>
                                          </ul>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </li>

                      <li>
                        <div class="timeline-badge up bg-green">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="h5 mt-0 title">Smart Laundry Portal for NITK </div>

                                    <p align="justify"> The project aims at designing an online laundry web application for NITK. Students can login with proper
                                      field validation (Passport-validation).and Authentication is provided by sending mail on registration and
                                      booking clothes. Admin module can check thestatus and confirm it thereby sending the mail to customer
                                      upon confirmation and provide delivery date.</p>
                                    <p align="justify">The app is built using NodeJS, ExpressJS and MongoDB.</p>

                                </div>
                                <div class="col-lg-6" class="size">
                                    <ul>
                                      <a href="https://github.com/Namanvijay/Smart_online_portal" class="btn btn-primary stretched-link">GithubLink</a>
                                      <hr>

                                        <li class="list">Technology Used</li>
                                        <ul>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <li class="non_list">Nodejs</li>
                                                    <li class="non_list">HTML</li>
                                                    <li class="non_list">CSS</li>
                                                    <li class="non_list">Passportjs</li>

                                                </div>

                                            </div>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                      <div class="timeline-badge up bg-green">
                          <i class="fa fa-thumbs-up"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="row">
                              <div class="col-lg-6 ">
                                  <div class="h5 mt-0 title">Data Verification in Decentralized Systems</div>

                                  <p align="justify"> The project aims for providing data verification in decentralized organization where files file is divided into
                                    chunks and distributed to peers. Merkle trees are used to store the files as leaves consisting of hashing of
                                    small files chunks and root hash stored inauthorized servers. This used <strong>SHA-256</strong> for encrypting files with
                                    random yet consistent values.
                                    </p>


                              </div>
                              <div class="col-lg-6" class="size">
                                  <ul>
                                    <a href="https://github.com/Namanvijay/Merkle-trees" class="btn btn-primary stretched-link">GithubLink</a>
                                    <hr>

                                      <li class="list">Technology Used</li>
                                      <ul>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <li class="non_list">Python</li>

                                              </div>

                                          </div>
                                      </ul>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </li>

                  </ul>
              </div>
  </div>
</div>
