<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Oracle India </div>
                                        <div class="h6 mt-0 title">Server Technology Intern (May 2021 - July 2021)</div>
                                        <p align="justify">Building Custom UI for Visualising the alarms that got fired when some product gets installed in bad condition in production.</p>
                                        <p align="justify">Try to find correlation and predict the alarms which will fire in cluster in future.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Dashboard Design</li>
                                                <li class="non_list">Prediction using ML</li>

                                            </ul>
                                            <hr>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Django</li>
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Pandas</li>
                                                        <li class="non_list">Sklearn</li>
                                                    </div>

                                                </div>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
    </div>
</div>
