<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About Me</div>
              <p>Hi I'm <strong>Naman Vijayvargiya</strong> final year Student pursuing B.Tech from <strong>National Institute of Karnataka.</strong>
              Currently I did Summer Intern in <strong>Oracle India</strong>  in Server Technology Role.I'm a full stack developer familier with Angular, Nodejs, Django framework along with some knowledge in ML/AI.

              I like to code which is reductant and flexible.
            </p>


              <p>
                I'm a lover of innovation who always ready to learn new skills and try to complete the work with full dedication, sencerity in a given timeline.
                I'm an <strong>Amateur Photographer</strong>  who wants to capture the moments in a photograph. I'm fond of Silhouetee and Monochromes.
              </p>


            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <!-- <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">Nov 26, 2000</div>
              </div> -->
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">namanvj26@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91 7014821575</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">76, Chitragupt Colony near Teen baati Circle, Kota Rajasthan,324009
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">DOB:</strong>
                </div>
                <div class="col-sm-8">26 November, 2000
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English, Hindi</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Areas of Interest</strong>
                </div>
                <div class="col-sm-8">Data Structure and Algorithms, Web Development, Graph Theory, Deep Learning
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
